* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8fafc;
}

#projects {
    margin: 5rem 0;
}

.projects-heading {
    margin-top: 20px;
    text-align: center;
}

.projects-heading h3 span {
    color: #f43f5e;
}

.projects-heading h3 {
    font-size: 2.7rem;
    font-weight: 600;
    color: #334155;
}

.projects-heading p {
    color: #4b5563;
}

.btn-container {
    margin-top: 2rem;
}

.projects-heading .source-code-btn {
    background-color: #f43f5e;
    border-radius: 0.5rem;
    /* height: 2.5rem; */
    color: #fff;
    padding: 0.8rem 1rem;
}

.projects-container {
    max-width: 1080px;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.card {
    background: #FFF;
    border-radius: 8px;
    color: #0f172a;
}

.card:hover {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card-cover {
    background: rgba(25, 90, 216, 0.2);
    border-radius: 8px 8px 0 0;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-cover-color {
    background: rgba(25, 90, 216, 0.2);
}

.card-cover-color {
    background: rgba(216, 111, 25, 0.2);
}

.card-cover img {
    height: 80%;
}

.card-content {
    padding: 1rem;
}

.card-heading {
    color: #1e293b;
    font-weight: 600;
}

.card-description {
    color: #475569;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}