* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    --bg: #f8fafc;
    --primary: #f43f5e;
    --btn-color: #f43f5e;
    --btn-text: #fff;
    --head: #334155;
    --card: #fff;
    --p: #4b5563;
}

html[data-theme="dark"] {
    --bg: #1e293b;
    --btn-color: #fecdd3;
    --btn-text: #1e293b;
    --head: #fff;
    --card: #192333;
    --p: #94A3B8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

#projects {
    margin: 5rem 0;
}

.projects-heading {
    margin-top: 20px;
    text-align: center;
}

.projects-heading h3 span {
    color: var(--primary);
}

.projects-heading h3 {
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--head);
}

.projects-heading p {
    color: var(--p);
}

.btn-container {
    margin-top: 2rem;
}

.projects-heading .source-code-btn {
    background-color: var(--btn-color);
    font-weight: 500;
    border-radius: 0.5rem;
    color: var(--btn-text);
    padding: 0.8rem 1rem;
}

.projects-container {
    max-width: 1080px;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    padding: 1rem;
}

/* Hover Effects for Project */
.projects-container a:hover {
    background-color: #f9cbd3;
    transform: translateY(-6px);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

.card {
    background: var(--card);
    border-radius: 8px;
    color: var(--head);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card-cover {
    background: rgba(25, 90, 216, 0.2);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-cover img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.card-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-heading {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 0.9rem;
    color: var(--p);
    flex-grow: 1;
}

.counter-cover-color {
    background: rgba(255, 206, 0, 0.2);
}

.counter-cover-colour {
    background-color: rgba(249, 89, 95, 0.2);
}

.icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#toggle-mode-btn {
    border: none;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding: 8px;
    align-items: center;
    background-color: #f43f5e;
    color: #ffffff;
    cursor: pointer;
}

#toggle-mode-btn svg {
    fill: #fff;
}

/* ====================== Scroll to top ========================  */
#scrollToTopBtn i {
    font-size: 24px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 12px 16px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
    background-color: var(--primary);
}

#scrollToTopBtn.show {
    display: block;
    opacity: 1;
    transform: translateY(-10px);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

#scrollToTopBtn {
    animation: float 3s infinite ease-in-out;
}