@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #dedede;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.container h1{
    margin-top: 30px;
}

input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#home-btn{
    color: #f1f1f1;
    background-color: #333;
    position: absolute;
    top: 10px;
    left: 10px;
}

#output{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -530px;
    color: rgb(133, 129, 12);
}