body {
    background-color: #411530; /* Dark background */
    font-size: 62.5%;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

#container {
    max-width: 600px;
    margin: 20px auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-color: purple;
    border-radius: 20%;
    transition: background 0.5s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.square:hover {
    transform: scale(1.05);
}

h1 {
    color: white;
    background: linear-gradient(135deg, #D1512D, #FFC107); /* Gradient background */
    font-size: 3.5em;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#color-display {
    font-size: 2.5em;
    font-weight: bold;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow for better readability */
}

#stripe {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    height: 50px; /* Increased height for better touch targets */
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    text-transform: uppercase;
    color: #D1512D;
    font-size: 1.8em;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}

#message:hover {
    cursor: pointer;
    scale: 1.05;
}

button {
    outline: none;
    color: #D1512D;
    background-color: white;
    padding: 10px 20px; /* Adjusted padding for better button size */
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove border */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
}

button:hover {
    background-color: #D1512D;
    color: white;
}

.selected {
    background-color: #D1512D;
    color: white;
}