body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #f0f8ff;/* Changed background color for a visually appealing look */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
}
h1{
    font-size: 3rem;
    height: 5vh;
}
p{
    font-size: 1.5rem;
    height: 5vh;
}
/* Center the game message for win or tie */
#gameMessage {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the message */
    background-color: whitesmoke; /* Blue background */
    color: #2777b8; /* White text */
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for effect */
    z-index: 10;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    font-size: 50px;
    cursor: pointer;
}
.row3 > div{
    border-bottom: 0;
}
#box3{
    border-right: 0;
}
#box6{
    border-right: 0;
}
#box9{
    border-right: 0;
}

#reset {
    width: 100px; /* Set a specific width */
    height: 40px; /* Set a specific height */
    font-size: 1rem; /* Font size */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove border */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    transition: background-color 0.3s, transform 0.3s; /* Transition effects */
}

#reset:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.01); /* Slightly enlarge on hover */
}
