.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.main-grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'menu menu main main right right right';
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.main-grid-container > div {
  padding: 20px 0;
  text-align: center;
  border: 5px solid burlywood;
}