*{
    margin: border-box;
    width: auto;
    height: auto;
}
h1{
    font-size:80px
}
.navbar{
    width: 100%;
    display: flex;
    justify-content:start;
    text-decoration: none;
   
}
.navbar .homebutton{
    padding-left: 60px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
    padding-left: 30px;
}
.navbar a:hover{
    color: rgb(255, 0, 0);
}
.navbar a::after{
    content: '';
    display: flex;
    width: 0; 
    height: 2px;
    background: #f30808;
    transition: width 0.3s ease;
 
 }
 .navbar a:hover::after{
    width: 100%;
 }