/* Container to keep counter at the bottom of the page */
.visitor-counter-container {
  width: 100%;
  padding: 20px 0; /* Space around the counter */
  display: flex;
  justify-content: center;
  background-color: #f4f4f9; /* Match counter background */
}

/* Visitor Counter Styling */
.visitor-counter {
  background-color: rgb(244, 244, 249);
  height: 60px;
  width: 250px;
  color: #333;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.visitor-counter:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.visitor-counter div:first-child {
  margin-bottom: -5px;
  font-size: 22px;
  letter-spacing: 1px;
}

.website-counter {
  font-size: 24px;
  font-family: "Arial", sans-serif;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .visitor-counter {
    height: 100px;
    width: 100px;
    font-size: 16px;
  }
  .website-counter {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .visitor-counter {
    height: 80px;
    width: 80px;
    font-size: 14px;
  }
  .website-counter {
    font-size: 18px;
  }
}

[data-theme="dark"] .visitor-counter div,
[data-theme="dark"] .visitor-counter .website-counter {
  color: #f0f0f0;
}

[data-theme="dark"] .visitor-counter {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 12px grey, 0 2px 4px grey;
}

[data-theme="dark"] .visitor-counter-container {
  background-color: #000327;
}

[data-theme="dark"] .share-section {
  background-color: #000327;
}
[data-theme="dark"] .gridbox {
  background-color: #000327;
}
[data-theme="dark"] .social-media {
  background-color: #000327;
}
