.visitor-counter {
    background-color: rgb(244 244 249); /* Slightly opaque background for better visibility */
    height: 60px;
    width: 250px;
    color: #333; /* Darker text for better contrast */
    font-weight: 700;
    margin-left:45%;
    font-size: 20px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border-radius: 12px; /* Softer corners */
    backdrop-filter: blur(10px); /* Increased blur for a modern touch */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), /* Slightly more pronounced shadow */
                0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition for hover effect */

  }

  .visitor-counter:hover {

    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */

  }

  .visitor-counter div:first-child {

    margin-bottom: -5px;
    font-size: 22px; /* Adjusted for clarity */
    letter-spacing: 1px; /* Increased spacing for readability */

  }

  .website-counter {

    font-size: 24px;
    font-family: 'Arial', sans-serif; /* Consistent font family */

  }

  @media screen and (max-width: 768px) {

    .visitor-counter {

        height: 100px;
        width: 100px;
        font-size: 16px;

    }

    .website-counter {

        font-size: 20px;

    }

  }

  @media screen and (max-width: 480px) {

    .visitor-counter {

        height: 80px;
        width: 80px;
        font-size: 14px;

    }

    .website-counter {

        font-size: 18px;

    }

  }

  [data-theme="dark"] .visitor-counter div,
  [data-theme="dark"] .visitor-counter .website-counter
  {
    color: #f0f0f0;
  }

  [data-theme="dark"] .visitor-counter{
    background-color: rgba(0, 0, 0, 0.7); /* Darker background for dark mode */
    box-shadow: 0 6px 12px grey,
                0 2px 4px grey;
  }
