body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #494141;
}

.container {
    text-align: center;
    width: 100vw;
    height:100vh;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.station {
    flex: 1 1 61.8%; /* Golden ratio width */
    border: 1px solid #273d96;
    padding: 15px;
    margin: 10px;
    background-color: #939393;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 200px;
    transition: all 0.3s ease;
}
.station:hover {
    background-color: #e0f7ff; /* Light blue background */
    border: 1px solid #007acc; /* Darker blue border */
    color: #007acc; /* Blue text color */
    transform: scale(1.05); /* Slightly enlarge on hover */
}
.station h2 {
    font-size: 18px;
    margin: 5px 0;
}

audio {
    width: 100%;
    margin-top: 10px;
}
