* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #23235d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #0056b3;
}

#next-btn,
#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #218838;
}

#score-box {
    margin-top: 20px;
    font-size: 18px;
    color: #28a745;
}