body{
    background-image: url(./images/image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 20px;
}
#resume-preview {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  .resume-header {
    display: flex;
    align-items: center;
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .resume-section {
    margin-top: 20px;
  }
  
  .resume-section h4 {
    color: #007bff;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .resume-section p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
  }
  