.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0; /* Ensure no margin around the header */
}
body {
  background: linear-gradient(
    to bottom right,
    #dc9ada,
    #e3dbdc,
    #f27121
  ); /* Gradient with purple tones */
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin: 0; /* Remove margin around the h1 */
  padding: 0; /* Ensure no padding around the h1 */
  font-weight: bold;
  unicode-bidi: isolate;
}

.score {
  display: flex;
  gap: 20px;
}
.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
