body {
  background: #141414;
}

.jokeBTN {
  cursor: pointer;
  outline: none;
  width: 98%;
  height: 50px;
  font-family: Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 24px;
}

.jokeBTN:hover {
  filter: brightness(95%);
}

.jokeBTN:active {
  transform: scale(0.98);
}

.jokeBTN:disabled {
  cursor: default;
  filter: brightness(30%);
}

.jokeTypes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .jokeTypes {
    margin-left: 88px;
  }
}
