
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6b6b;
    color: white;
    padding: 20px;
    text-align: center;
}

.hero {
    background: url('pizza-hero.jpg') center/cover no-repeat;
    padding: 100px 0;
    text-align: center;
    color: grey;
}

.hero h2 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 30px;
}
