@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --title-color: #333333;
  --button-background: #333333;
  --button-color: #ffffff;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --title-color: #ffffff;
  --button-background: #ffffff;
  --button-color: #121212;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  color: var(--title-color);
  margin: 10px 0 0;
  text-align: center;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--button-background);
  color: var(--button-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button svg {
  display: none;
  width: 24px;
  height: 24px;
}

body.dark-mode .toggle-button .sun-icon {
  display: block;
}

body:not(.dark-mode) .toggle-button .moon-icon {
  display: block;
}

.toggle-button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}