* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: cursive;
    background-color: antiquewhite;
}

/* navigation */

nav {
    box-shadow: 5px 5px 5px black;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: yellow;
    z-index: 50;
    padding: 10px;
    font-family: sans-serif;
}
.Navigation {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
button {
    background-color: rgb(255, 6, 205);
    border: 0;
    height: 25px;
    color: white;
    width: 80px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    transition: 0.2s ease-in-out;
}
button:hover {
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}
span {
    color: red;
    font-weight: 900;
}
.tag {
    background-color: rgb(124, 193, 21);
    align-self: flex-start;
}
.hero {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.profile-image {
   height: 200px;
   width: 200px; 
   border-radius: 50%;
}
.hero_image {
    background: linear-gradient(135deg, red, yellow);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.hero_content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-weight: 300;
}
.features {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feature {
    
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgb(1, 1, 1);
}
.feature_content1 {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: coral;
    text-align: center;
}
.feature_content2 {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(104, 211, 55);
    text-align: center;
}
.feature_content3 {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(55, 125, 211);
    text-align: center;
}
.divider {
    border: 2px solid black;
    margin: 20px 0;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px  0;
    align-items: center;
}
.menu .tag {
    align-self: center;
    border-radius: 3px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
     "i1 i1 i2 i4"
     "i1 i1 i2 i3"
     "i5 i6 i7 i3";
}
.item1 {
    height: 400px;
    width: 400px;
    border: 3px solid orange;
    border-radius: 10px;
    background-color: orange;
    grid-area: i1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item1 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item2 {
    height: 400px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(132, 255, 0);
    grid-area: i2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item2 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item7{
    height: 400px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(0, 81, 255);
    grid-area: i3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item7 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item3 {
    height: 200px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(255, 0, 136);
    grid-area: i4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item3 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item6 {
    height: 200px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(30, 255, 0);
    grid-area: i5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item6 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item5 {
    height: 200px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(225, 255, 0);
    grid-area: i6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item5 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.item4 {
    height: 200px;
    width: 200px;
    border: 3px solid orange;
    border-radius: 8px;
    background-color: rgb(144, 0, 255);
    grid-area: i7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.item4 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
@media (max-width: 786px) {
    .hero {
        flex-direction: column;
    }
    .hero_image {
        width: 90%;
    }
    .hero_content {
        gap: 10px;
        padding: 10px;
    }
    .features {
        flex-direction: column;
    }
    .feature {
        flex-direction: column;
    }
    .grid {
        padding: 10px;
    }
}

/* footer part */

footer {
    background-color: rgb(212, 158, 88);
    border: 2px solid brown;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.link_list h3 {
    margin-bottom: 10px;
    color: black;
}
.link_list ul {
    list-style: none;
}
.news_letter {
    margin-bottom: 30px;
    color: black;
}
.footer_logo {
    font-family: fantasy;
    text-decoration:underline;
}