body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(40deg, #8609df, #ff00cc);
}

#board {
  height: 540px;
  width: 630px;
  background-color: rgb(137, 200, 255);
  border: 10px solid navy;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;

  /* Circle */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 5px solid navy;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

#winner {
  color: rgb(4, 252, 231);
  font-size: 50px;
}
