* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blue-rect {
  position: absolute;
  top: 60%;
  right: 10%;
}

.blue-rect2 {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(90px)
  }

.orange-circle {
  position: absolute;
  top: 20%;
  right: 30%;
}

.orange-circle2 {
    position: absolute;
  bottom: 20%;
  left: 30%;
}

.yellow-shape {
  position: absolute;
  top: 15%;
  left: 10%;
}

.temp-inputs {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.temp-value {
    font-size: medium;
    font-weight: 400;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3e45e9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2c33b3;
}

#result {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
