/* src/components/ContactForm.css */

.container {
    margin-top: 50px;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .card-header h3 {
    margin: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  