@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  overflow-x: hidden;
  position: relative;
}

img {
  height: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid grey; */
  padding: 15px;
  width: 90vw;
  text-align: center;
  overflow-x: hidden;
  /* transform: translateX(-4%); */
}
button {
  border: none;
  background: transparent;

  margin: 0;
  cursor: pointer;
  transition: transform 0.7s ease;
}
button:active {
  transform: scale(1.3);
  outline: none;
}
.dad-joke {
  position: relative;
  width: 100%;
  /* border: 1px solid black; */
  height: fit-content;
  background: linear-gradient(
    rgba(114, 114, 234, 0.769),
    rgba(137, 43, 226, 0.772)
  );
  padding: 15px;
  max-width: 400px;
  min-width: 100px;
  font-size: 1.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: context-menu;
}
.dad-joke p {
  padding: 10px;
}
h1 {
  background: linear-gradient(rgba(97, 97, 185, 0.995), rgb(240, 25, 233));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme {
  position: absolute;
  top: 20px;
  right: 60px;
}
.theme .fa-solid.fa-moon {
  font-size: 20px;
  color: rgb(69, 31, 105);
  transform: rotate(-20deg);
}
.theme .fa-solid.fa-sun {
  font-size: 20px;
  color: rgb(253, 251, 254);
  transform: rotate(-20deg);
}
body.dark .theme i {
  font-size: 28px;
  color: white;
}

body.dark {
  background-color: rgb(58, 58, 58);
}
