body {
    background-color: bisque;
    text-align: center;
   
}

h1{
    text-transform: uppercase;
    font-size: 8rem;
    color: black;
    font-weight: 100;
    
}



p {
    color: black;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main {
    text-align: center;
}

.flex-container {
    display: flex;
    place-content: center;
    gap: 10rem;
}

.img {
   flex: 1;
   
}

@media(max-width:600px) {
    h1 {
        font-size: 5rem;
        font-weight: 500;
    }

    .flex-container {
       display: flexbox;
       flex-direction: column;
       gap: 2rem;
    }
}