body {
    background: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    font: 12px "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",
      "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
    color: #111;
  }
  
  h2 {
    position: absolute;
    font-size: 30px;
    font-family: "Oxygen", "Lucida Console", "Courier New", sans-serif, monospace;
    margin-left: auto;
    margin-right: auto;
    display: contents;
  }
  
  h3 {
    font-family: "Quicksand", "Lucida Console", "Courier New", sans-serif,
      monospace;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .container {
    margin-top: 5rem;
  }
  
  .board {
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: deepskyblue;
    opacity: 1;
    border: 2px solid #ddd;
    transition: opacity 500ms linear;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .game-over-buttons {
    pointer-events: none;
  }
  
  .game-over-board {
    opacity: 0.3;
    transition: opacity 1s linear;
  }
  
  td {
    top: 0;
    transition: top 2s;
  }
  
  .board button {
    width: 60px;
    height: 60px;
    background-color: rgb(242, 242, 242);
    border-radius: 50px;
    border: 4px solid black;
    margin: 1px;
    top: 0;
    outline: none;
  }
  
  .clickedRowButton {
    position: absolute;
  }
  
  .clicked {
    top: 400px;
  }
  
  #reloadGame {
    font-family: "Questrial", "Lucida Console", "Courier New", sans-serif,
      monospace;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: green;
    color: #fff;
    font-size: 1.6em;
    padding: 10px 20px;
    cursor: pointer;
    transition: 600ms ease all;
    outline: none;
  }
  
  #reloadGame:hover {
    background: #fff;
    color: #20d0f6;
  }
  
  #reloadGame:before,
  #reloadGame:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #20d0f6;
    transition: 400ms ease all;
  }
  
  #reloadGame:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  #reloadGame:hover:before,
  #reloadGame:hover:after {
    width: 100%;
    transition: 600ms ease all;
  }
  
  #reloadGame:focus {
    outline: none;
    border-color: #ddd;
    box-shadow: inset 0px 0px 5px 2px #efefef;
  }
  
  label {
    cursor: pointer;
    cursor: hand;
  }
  
  .hidden {
    display: none;
  }
  
  .oddRow {
    background-color: #ababab;
  }
  
  .move-chip {
    display: inline-block;
    padding: 20px;
    /*color: white;*/
    position: relative;
    margin: 0 0 10px 0;
  }