* {
    font-family: 'Okra, Helvetica', sans-serif;
}

.heading {
    margin-left: 30%;
}

.para {
    font-size: 20px;
    /* color: #9C9C9C; */
    /* color: #4F4F4F; */
    /* color: #4F4F56; */
    color: #696969;
    margin-left: 27%;
    width: 52%;
    font-weight: 450;
    padding-top: 1%;
}

.row {
    width: 27%;
    box-shadow: #696969;
}

#cont5_head {
    margin-left: 40%;
    padding-top: 6%;
}

.container5-a {
    display: flex;
}

.card1 {
    width: 19.45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 10%;
}

.card2 {
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}

.card3 {
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}

.card4 {
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 10%;
}

.card5 {
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}

.card6 {
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}

.card_hed {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 1.5rem;
}

.card_para {
    margin-top: 3%;
    margin-left: 3%;
}

.main {
    margin-left: 22%;
    display: flex;
    margin-top: 5%;
    gap: 40px;
    box-shadow: #696969;
}

.main1 {
    margin-left: 22%;
    display: flex;
    margin-top: 5%;
    gap: 40px;
    height: 450px;
}

.card {
    width: 4%;
    height: 85px;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 10px;
}

.snap {
    margin-top: 8%;
}

.apna-desh {
    margin-top: -4%;
    margin-left: 20%;
    color: #696969;
    font-size: 20px;
    font-weight: 390;
}

.heading1 {
    margin-top: -13%;
    margin-left: 20%;
    color: #2781E7;
    font-weight: 450;
    font-size: 29px;
}

.container3 {
    margin-top: 5%;
}

.snap2 {
    width: 100%;
    position: absolute;
}

.works {
    position: relative;
    margin-left: 44%;
}

.main_image {
    height: 420px;
    width: 100%;
}

.container9 {
    margin-top: 5%;
    text-align: center;
}

.buttons {
    margin-top: 2%;
    padding-bottom: 10%;
}

.button1 {
    color: black;
    display: flex;
    height: 65px;
    width: 100%;
    border-radius: 3%;
    padding-right: 3%;
    margin-bottom: 2%;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 0.1px solid #f5efef;
    border-top: 0.1px solid #f5efef;
    border-left: 0.1px solid #f5efef;
    border-right: 0.1px solid #f5efef;
}

.text1 {
    padding-left: 3%;
    padding-top: 2.5%;
    font-size: larger;
    font-weight: lighter;
}

.button2 {
    color: black;
    display: flex;
    height: 65px;
    width: 100%;
    border-radius: 3%;
    padding-right: 3%;
    margin-bottom: 2%;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 0.1px solid #f5efef;
    border-top: 0.1px solid #f5efef;
    border-left: 0.1px solid #f5efef;
    border-right: 0.1px solid #f5efef;
}

.text2 {
    padding-left: 3%;
    padding-top: 2.5%;
    font-size: larger;
    font-weight: lighter;
}

.button3 {
    color: black;
    display: flex;
    height: 65px;
    width: 100%;
    border-radius: 3%;
    padding-right: 3%;
    margin-bottom: 2%;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 0.1px solid #f5efef;
    border-top: 0.1px solid #f5efef;
    border-left: 0.1px solid #f5efef;
    border-right: 0.1px solid #f5efef;
    
}

.text3 {
    padding-left: 3%;
    padding-top: 2.5%;
    font-size: larger;
    font-weight: lighter;
}

.button4 {
    color: black;
    display: flex;
    height: 65px;
    width: 100%;
    border-radius: 3%;
    padding-right: 3%;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 0.1px solid #f5efef;
    border-top: 0.1px solid #f5efef;
    border-left: 0.1px solid #f5efef;
    border-right: 0.1px solid #f5efef;
}

.text4 {
    padding-left: 3%;
    padding-top: 2.5%;
    font-size: larger;
}
.button_ans1{
    padding-left: 3%;
    height: 70px;
    font-size: 17px;
    color: black;
}
.button_ans2{
    padding-left: 3%;
    height: 110px;
    font-size: 17px;
    color: black;
}
.button_ans3{
    padding-left: 3%;
    height: 75px;
    font-size: 17px;
    color: black;
}
.button_ans4{
    padding-left: 3%;
    padding-top: 2%;
    height: 100px;
    font-size: 17px;
    color: black;
}
.arrow1{
    padding-top: 2%;
}
.container7 {
    width: 60%;
    margin: 5% auto;
}

.over7 {
    display: flex;
}

.text7 {
    width: 50%;
}

.spa7 {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 45px;
}

.hp7 {
    font-size: 22px;
    font-weight: lighter;
}

.con1,
.con2,
.con3 {
    margin-top: 40px;
    cursor: pointer;
}

.photo7 {
    width: 50%;
    max-height: 400px;
    overflow: hidden;
}

.point {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.points7 {
    display: flex;
}

.head1 {
    animation: fade;
}

.head1:hover {
    color: blue;
    transform: .5s;
}

.head2:hover {
    color: blue;
    transform: .5s;
}

.head3:hover {
    color: blue;
    transform: .5s;
}


/* @keyframes fade {
    from {
        opacity: 0;
         transform: translateY(-5px); */

/* to {
    opacity: 1; 
transform: translateY(0);

}

}
*/