    .container2 {
        display: flex;
        padding-left: 20%;
        padding-top: 5%;
        margin-right: 25%;
    }
    
    .image1 {
        border-radius: 2%;
        height: 230px;
        width: 450px;
    }
    
    .text {
        margin-top: 4%;
        padding-left: 3%;
    }
    
    .para {
        font-size: larger;
    }
    
    .buttons {
        padding-left: 20%;
        padding-top: 5%;
        display: flex;
        padding-bottom: 5%;
    }
    
    .button1 {
        color: #FF7E8B;
        display: flex;
        height: 95px;
        width: 280px;
        border-radius: 3%;
        padding-right: 3%;
        border-style: solid;
        border-color: white;
        box-shadow: 1px 1px 10px 10px #F4F4F4;
    }
    
    .image1 {
        height: 55px;
        width: 55px;
        margin-top: 6%;
        margin-left: 4%;
    }
    
    .text1 {
        margin-left: 8%;
        margin-top: 10%;
        margin-right: -8%;
    }
    
    .button2 {
        color: #FF7E8B;
        display: flex;
        height: 95px;
        width: 280px;
        border-radius: 3%;
        margin-left: 3%;
        padding-right: 5%;
        border-style: solid;
        border-color: white;
        box-shadow: 1px 1px 10px 10px #F4F4F4;
    }
    
    .image2 {
        height: 55px;
        width: 55px;
        margin-top: 6%;
        margin-left: 4%;
    }
    
    .text2 {
        margin-left: 8%;
        margin-top: 10%;
        margin-right: -8%;
    }
    
    .button3 {
        color: #FF7E8B;
        display: flex;
        height: 95px;
        width: 280px;
        border-radius: 3%;
        margin-left: 3%;
        border-style: solid;
        border-color: white;
        box-shadow: 1px 1px 10px 10px #F4F4F4;
    }
    
    .image3 {
        height: 55px;
        width: 55px;
        margin-top: 6%;
        margin-left: 4%;
    }
    
    .text3 {
        margin-left: 8%;
        margin-top: 10%;
        margin-right: -8%;
    }
    
    .container1 {
        position: relative;
    }
    
    #header_img {
        width: 100%;
    }
    
    #header_zomato {
        position: absolute;
        margin-left: 18%;
        margin-top: -58%;
        display: flex;
    }
    
    .container-a {
        position: absolute;
        font-family: 'Lato', sans-serif;
        color: white;
        width: 60%;
        margin-left: 18%;
        margin-top: -20%;
    }
    
    #we {
        font-size: 1.5rem;
        width: 90%;
    }
    
    #application {
        font-size: 3.5rem;
    }
    
    #home {
        padding-left: 150%;
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    #home1 {
        padding-left: 20%;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .container5 {
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        font-weight: normal;
        color: #9C9C9C;
        padding-bottom: 50px;
    }
    
    .container5-1,
    .container5-2,
    .container5-3,
    .container5-4,
    .container5-5 {
        padding-left: 10%;
        font-size: 13px;
        padding-top: 30px;
        line-height: 2;
    }
    
    .container5-1 {
        padding-left: 0;
        font-size: 13px;
        padding-top: 30px;
    }
    
    .container6 {
        padding-left: 10%;
        padding-right: 10%;
        font-weight: lighter;
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: 0;
        color: #9C9C9C;
    }
    
    .container4 {
        height: 20px;
        padding-left: 144px;
        padding-top: 20px;
    }
    
    .container4,
    .container5,
    .container6 {
        background-color: #FCFCFC;
    }
    
    #India {
        height: 25px;
    }
    
    .store-footer {
        height: 40px;
        margin-top: 10%;
    }
    
    .icons-footer {
        width: 23px;
    }
    
    .l-space {
        letter-spacing: 2px;
        font-weight: bold;
        color: #000000;
    }
    
    #language-globe {
        height: 18px;
    }
    
    .footer_logo1 {
        height: 27px;
        margin-left: 12%;
    }
    
    .footer_logo2 {
        height: 30px;
        margin-left: 10%;
    }
    
    .container4 {
        font-family: 'Paytone One', sans-serif;
        padding-left: 3px;
        display: flex;
    }
    
    div.dropdown-multicol2 {
        width: 30em;
    }
    
    div.dropdown-multicol2>div.dropdown-col {
        display: inline-block;
        width: 24%;
    }
    
    .drop1 {
        margin-left: 46%;
    }
    
    .drop2 {
        margin-left: 2%;
    }
    
    .dropdown-item {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }
    
    .enterprises {
        margin-top: 12%;
        letter-spacing: 2px;
        color: black;
    }
    
    .ent {
        letter-spacing: 0px;
        color: #9C9C9C;
    }
    
    .head3 {
        margin-bottom: 45px;
    }
    
    .faq_question {
        padding: 15px 0;
        max-width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1px solid #f5efef;
        font-size: 25px;
    }
    
    .faq_question:hover {
        background-color: rgb(247, 241, 241);
    }
    
    .faq_answer_container {
        height: 0px;
        overflow: hidden;
        padding: 0px;
        font-size: 20px;
        font-weight: lighter;
        /* animation: 
        fade 1s ease-in-out; */
    }
    
    .faq_container3 {
        margin: 5% auto;
        align-items: center;
        width: 58%;
    }
    /* @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    } */
