*{
    margin: 0;
    outline: none;
}
html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* Center the loader */

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #1b1d21 url('zomato.gif') no-repeat center center;
}

.pic{
    width: 100%;
    height: 500px;
}
.container1{
    width: 100%;
}


.container2{
    padding-top: 20px;
    padding-bottom:50px;
    
}
.container4{
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 80px;
   padding-bottom: 80px;
   font-family: 'Open Sans', sans-serif;
   line-height:2;
}
#logo{
    width: 300px;
}
.center{ 
    position: absolute;
    top: 16%;
    left: 40%;
 } 

.page_title{
    padding-left:20%;
    font-family: 'Lato', sans-serif;
    display: flex;
}
.container4 h3{
padding-top:20px;
padding-bottom: 10px;
}
.container4 p{
    color: #9C9C9C;
    font-size: 16px;
}
.container3{
    padding-top:30px;
    background-color:#FFFBF7;
}
#iphone{
    height:450px;
}

.container_a,.container_b{
    display: inline-block;
    vertical-align: top;
}
.container_a{
    margin-left:25%;
}
.container_b{
    padding-left: 3%;
    padding-top: 60px;
    width: 30%;
}
span{

font-size: large;
font-weight: 60px;
}


.text{
    position: absolute;
    top: 30%;
    left: 29%;
    color: white;
    font-size: 2rem;
    font-weight: 150px;
    display: flex;
    font-family: 'Okra, Helvetica', sans-serif;

}

.form-group{
    display: flex;
    padding-top: 13px;
    height:80px;   
    padding-bottom: 20px;
}
#danger{
    margin-left:10px;
    height: 50px;
    width: 250px;
    margin-top:9%;
    vertical-align: bottom;
}
#email{
    height:50px;
}

.store{
   height:40px;
}

.store1{
    margin-left: 4%;
    height:40px;
}

.container5{
    font-family: 'Paytone One', sans-serif;
    padding-left:20px;
    display: flex;
}
.navbar-brand{
color: white;
top: 15%;
background-color:white;
}
.login-trigger,.signup, .restaurant{
    margin-top: -1%;
    top:1%;
    text-decoration: none;
    color: rgb(255,255,255);
    font-family: 'Okra, Helvetica', sans-serif;
     font-weight: lighter; 
    font-size : 1.1rem; ; 
    line-height: 1.9;
    
}
.getapp{
    color:white;
    margin-left: 15%;
    text-decoration: none;
    font-style: bold;
    margin-top: -1%;
     top: 1%;
     font-weight: lighter;
     font-size : 0.9rem; ; 
    line-height: 1.9; 
    
}

.restaurant{
    padding-left: 10%;
    margin-left: 32%;
}
.signup{
    
    margin-right: 13%;
    margin-left: -0%; 

}
.login-trigger{
    
    margin-right: 0%;
    margin-left: 1%;

}
h4 {
    font-weight: bold;
    color: #fff;
  }
  .close {
    color: #fff;
    transform: scale(1)
  }
  .modal-content {
    font-weight: bold;
    
   
  }
  .form-control {
    margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
  }
  .phone-number, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
  }
  .phone-number{

      margin-top:10%;
  }
  .text-otp{
      margin-top: 3%;
      margin-left: 37.2%;
      margin-bottom: 10%;
  }
  .text-email  {
      padding:1%;
      border-radius: 8px;
      border-style: solid;
    border-color:#CFCFCF;
      width:100%;
      margin-right:20%;
      margin-bottom: 10%;
      border-width: 1px;
     }
     .login-google{
        border-radius: 8px;
         border-style: solid;
      border-color:#CFCFCF;
      width: 100%;
      padding-top: 1px;
      border-width: 1px;
     }
     
  
 
  
  .fa-envelope{
      margin-right: 4%;
      margin-top: 2%;
  }
  
  .text-otp:hover{
      cursor: pointer;
      
  }
  .form-control::-webkit-input-placeholder {
    color: #eee;  
  }
  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }
  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 50%;
  }
  .modal-content{
      width:160%;
      height:20%;
      margin-top: 35%;
  }
  
  .login:hover {
    background: #fff;
    color: #fff;
  }

.getapp:hover{
    color: white;
}

.restaurant:hover{
color:white;
}

.login-trigger:hover{
    color:white;
}

.signup:hover{
    color: white;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    
    }
.container5{
    height:20px;
    padding-left:144px; 
    padding-top: 20px;
}
.container5,.container6,.container7{
    background-color: #FCFCFC
}

.navbar{
    bottom: 480px;
    display: flex;
    flex-direction: row;
}
.container6{
    padding-top:40px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    font-weight: normal;
    color: #9C9C9C;
    padding-bottom: 50px;

}

.container6-1,.container6-2,.container6-3,.container6-4,.container6-5
{
    padding-left:10%;
    font-size:13px;
    padding-top: 30px;
    line-height:2;
}
.container6-1
{
    padding-left:0;
    font-size:13px;
    padding-top: 30px;
}
.container7{
    padding-left: 10%;
    padding-right: 10%;
    font-weight: lighter;
    font-size:14px;
    padding-bottom: 20px;
    margin-top: 0;
    color:#9C9C9C;
}


.footer_logo{
    height:30px;
}
.store-footer{
    height: 40px;
    margin-top: 10%;
}

.search-btn{
width: 130px;
background-color: red;
color: white;
border: none;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
font-size: 20px;
}

.popular{
    margin-top: 100px;
}

.containerA{
    padding-left: 10%;
    font-family: 'Open Sans', sans-serif;
}

.containerB{
    color: #9C9C9C;
    font-size: 16px;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    line-height:2.5;
}
.containerB-1,.containerB-2,.containerB-3,.containerB-4,.containerB-5{
    padding-left: 10%;
}

.containerB-1{
    padding-left: 0%;
}

.containerC{
    padding-top: 50px;
    padding-left: 10%;
    font-family: 'Open Sans', sans-serif;
}
.containerD{
    color: #9C9C9C;
    font-size: 16px;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    padding-bottom: 50px;
    line-height:2.5;
}
.containerD-1{
    padding-left: 0%;
}
.containerD-2{
    padding-left: 9%;
}
.containerD-3{
    padding-left: 11%;
}
.containerD-4{
    padding-left: 13%;
}
.containerD-5{
    padding-left: 16%;
}

.form{
    margin-top: 10%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wrapper{
  position: absolute;
  top: 19%;
  margin-top: 12%;
  margin-left: -1%; 
  margin-right: 10%;

} 
.wrapper .search_box{
  width: 700px;
  background: #fff;
  border-radius: 5px;
  height: 55px;
  display: flex;
 padding-top: 5px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}




.wrapper .search_box .dropdown{
  width: 250px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}
.search_field{
    margin-top: -7px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  /* padding: 20px; */
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: -2px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
   border-color: #000000 transparent transparent transparent; 
}

.wrapper .search_box .search_field{
  width: 800px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 450px;
  height: 30px;
  border: 0px;
  font-size: 16px;
  padding-left: 35px;
  padding-right: 38px;
  color: #6f768d;

}


.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 22px;
  left: 10px;
  font-size: 16px;
  color: grey;
  cursor: pointer;
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}
.container3{
    color: grey;
}
.Get{
    color: black;
}



.icons-footer{
    width:23px;
}
.l-space{
    letter-spacing:2px;
    font-weight: bold;
    color:#000000;
}




div.dropdown-multicol2{
    width: 30em;
  }
  div.dropdown-multicol2>div.dropdown-col{
    display:inline-block;
    width: 24%;
  }

.drop1{
     margin-left: 51%;
}

.drop2{
    margin-left:2%;
}

#language-globe{
    height:18px;
}

#India{
    height:25px;
}

.dropdown-item{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.form-check-label{
    padding-left: 0;
}
#container1{
    margin-top:2%;
    margin-left:5%;
}

.card{
    width:89%;

    height:89%;
    background-color: white;
    /*  */
margin-left: 2%;
    border:10px; 
    border-radius: 60px;
    box-shadow: 1px 1px 10px #ccc;  
    overflow: hidden;
    /* transition: box-shadow 0.3s; */
    margin-bottom: 10px;
}
.container{
    margin-left:3%;

}.row{
    margin-left: 4%;
    
}
.card:hover{
    /* box-shadow: 1px 1px 10px #000; */
    cursor:pointer;
}
.card-bottom{
     position: absolute; 
    background-color: white;
    height: 60%;
    width: 100%;
    margin-top: 160px;
}
.card img{
    border-radius: 10px 10px;
}
.text-center{
    font-size:20px;
    font-style: bold;
    margin-top: 5%;
    font-family: Okra, Helvetica, sans-serif;
}
#SeeMore{
    color:#000000;
    text-decoration: underline;
    }



.order-cat {
	display: grid;
	grid-template-columns: repeat(4, 3fr);
	grid-gap: 10px;
	margin-left: 8%;
    width:84%;
    margin-top:1%;
    margin-bottom:10%;
    
}

.order-cat .hover{
	position: relative;
	cursor: pointer;
	transition: transform 0.3s;
}

.order-cat .hover:hover {
	transform: scale(1.05);
}

.order-cat img {
	width: 98%;
	border-radius: 12px;
}

.order-cat .order-title-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 0 16px;
	background-color: #fff;
	width: 98%;
	border: 1px solid #e8e8e8;
	border-radius: 0 0 12px 12px;
    height:26%;
    
}

.order-cat .order-title {
	font-size: 19px;
	font-weight: 500;
	text-align: center;
    /* margin-top: 3%; */
    /* margin-top:8%; */
    color:#4F4F4F;
    
}

.collections {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.collections p{
	font-size: 20px;
}

.collections a{
	font-size: 16px;
	color: #f57082;
	text-decoration: none;
    margin-right: 12%;
    padding-right:5%;
    margin-top: -1.1%;
    
    
}

.collection-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
	margin-bottom: 90px;
    width:100%;
}
/* .collection-box{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin-bottom: 90px;
    width:80%;
} */

 .collection-grid .collection-box { 
	position: relative;
    width:100%;
    
    /* height:130%; */
}

.collection-grid .collection-box img {
    width: 103%;
	border-radius: 8px;
    height: 125%;
    /* height: 120%; */
   
}

.collection-grid .collection-box .collection-title {
	position: absolute;
	left: 0;
	top: 98%;
	padding: 10px 15px 2px 13px ;
    
}

.collection-grid .collection-box .collection-title p {
	font-weight: 700;
	color:white;
    font-size:30px;
    margin-bottom: 10%;
}

.collection-grid .collection-box .collection-title p{
	color: #fff;
    font-size: 15px;
}
.sports{
    margin-top: -10%;
}

/*Localities*/
h1.local-title {
	color: #363636;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}

.locals-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 35px;
}

.locals-grid .local-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	font-size: 20px;
	color: #1c1c1c;
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	box-shadow: 0 1.4px 2.8px rgba(28,28,28,0.08);
	cursor: pointer;
}

.locals-grid .local-box:hover {
	box-shadow: 0 1.4px 2.8px 2px rgba(28,28,28,0.08);
}

.local-box .fa-chevron-right {
	font-size: 10px;
}
.containerz{
    margin-left:13.5%;
}

.container6 table {
    width: max-content;
}
.enterprises{
    margin-top: 12%;
    letter-spacing: 2px;  
    color: black; 
}
#ent{
    letter-spacing: 0px;
    color: #9C9C9C;
    text-decoration: none;
}
#ent:hover{
    color: black;
}

