.container4 {
    margin-top: -7%;
    padding-left: 13%;
    padding-right: 13%;
}

.video {
    margin-top: 4%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.images {
    padding-left: 13%;
    padding-right: 13%;
}

.pic1 {
    width: 63%;
    height: 370px;
    border-radius: 5px;
}

.pic2 {
    width: 36%;
    height: 178px;
    margin-top: -17.5%;
    padding-left: 0.8%;
    border-radius: 3%;
}

.pic3 {
    width: 35.5%;
    height: 184px;
    border-radius: 3%;
    margin-left: 64.2%;
    margin-top: -19%;
}
.pic4 {
    width: 35.5%;
    height: 184px;
    border-radius: 3%;
    margin-top: -1%;
}

.pic5 {
    width: 35.5%;
    height: 184px;
    border-radius: 3%;
    margin-top: 1%;
}

.pic6 {
    width: 63%;
    height: 377px;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: -16.5%;
}

.container2 {
    max-width: 1000px;
    position: relative;
    margin-top: 60%;
    margin-left: 10%;
}

.image {
    max-width: 1000px;
    position: relative;
    margin-top: 20%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    margin-left: 116%;
}




.next {
    
    border-radius: 3px 0 0 3px;
}




.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}



.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}




.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}



.para{
font-size: 18px;
line-height: 1.5;
font-weight: 350;
color: rgb(54, 54, 54);
}
.para{
    margin-top: 4%;
}
.who{
border-bottom-style: solid;
border-bottom-width: 4px;
border-color: #EE556A;
padding-bottom: 1%;
}
.content{
    width: 89%;
}
.container3{
    margin-top: 3%;
    width:36%;
    margin-left: 10%;
    display:inline-grid;
}
.snap1{
    margin-left: 100%;
     display:inline-grid;
    margin-top: -64%;
}
.writing{
    
    font-size: 50px;
    font-weight: 600;
}


.conatainer3-a {
    width: 74%;
    margin: 8% auto;
}

.images3-a {
    display: flex;
    margin: 3% auto;
}

.image3a {
    width: 23rem;
    height: 14rem;
    margin-right: 7px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.links3a {
    text-decoration: none;
    color: rgb(201, 192, 192);
    font-size: smaller;
    margin-top: 3%;
}

.links3b {
    text-decoration: none;
    color: black;
}

.links3b:hover {
    color: black;
}


.container5 {
    width: 80%;
    margin: 7% auto;
}

.line {
    color: #fc0909;
    width: 10rem;
    border: 3px solid;
}

.heading {
    font-size: 45px;
}

.images5 {
    display: flex;
    margin-top: 5%;
    align-content: space-between;
    width: 100%;
}

.Icons5 {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.T-Icons5 {
    width: 30px;
    height: 20px;
    margin-right: 1rem;
}

.image5 {
    width: 17rem;
    height: 20rem;
    margin-bottom: 1rem;
    float: left;
    z-index: 5;
    display: flex;
}

.text5 {
    opacity: 0;
    background-color: rgb(255, 56, 122);
    width: 17rem;
    height: 20rem;
    font-size: 15px;
    padding: 1rem;
    z-index: 9;
    color: #f2f2f2;
    text-align: justify;
    position: absolute;
    font-weight: bold;
}

.image5:hover {
    opacity: 0.6;
}

.text5:hover {
    opacity: 0.7;
}

.space5 {
    margin-left: 5%;
}

.container4 {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
}
.left {
    margin-top: -51%;
    margin-left: 15%;
}

.Home {
    padding-left: 31%;
    margin-left: 37%;
}

.who_we_are {
    margin-left: 0.5%;
    
}

.Careers {
    margin-right: 14%;
}

.Home,
.Careers
{
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
    margin-top: -3%;
    font-weight: 400;
}
.who_we_are{
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
    margin-top: -3%;
    font-weight: 400;
    border-bottom-style: solid;
border-bottom-width: 2px;
border-color: #F8F8F8;

}

.happy {
    position: absolute;
    font-size: 60px;
    font-weight: 600;
    margin-left: 20%;
    margin-top: -3%;
}

.container5 {
    width: 75%;
    margin: 7% auto;
}

.line {
    color: #fc0909;
    width: 10rem;
    border: 3px solid;
}

.heading {
    font-size: 45px;
}

.images5 {
    display: flex;
    margin-top: 5%;
    align-content: space-between;
}

.image5 {
    width: 17rem;
    height: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.Icons5 {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.T-Icons5 {
    width: 30px;
    height: 20px;
    margin-right: 1rem;
}

.container4 {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
}
.container7 {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    font-weight: normal;
    color: #9C9C9C;
    padding-bottom: 50px;
}



.container7-1,
.container7-2,
.container7-3,
.container7-4,
.container7-5 {
    padding-left: 10%;
    font-size: 13px;
    padding-top: 30px;
    line-height: 2;
}

.container7-1 {
    padding-left: 0;
    font-size: 13px;
    padding-top: 30px;
}

.container8 {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 20px;
    margin-top: 0;
    color: #9C9C9C;
}

.container6 {
    height: 20px;
    padding-left: 144px;
    padding-top: 20px;
}

.container6,
.container7,
.container8 {
    background-color: #FCFCFC
}

#India {
    height: 25px;
}

.store-footer {
    height: 40px;
    margin-top: 10%;
}

.icons-footer {
    width: 23px;
}

.l-space {
    letter-spacing: 2px;
    font-weight: bold;
    color: #000000;
}

#language-globe {
    height: 18px;
}

.footer_logo1 {
    height: 27px;
    margin-left: 12%;
}

.footer_logo2 {
    height: 30px;
    margin-left: 10%;
}

.container6 {
    font-family: 'Paytone One', sans-serif;
    padding-left: 3px;
    display: flex;
}

div.dropdown-multicol2 {
    width: 30em;
}

div.dropdown-multicol2>div.dropdown-col {
    display: inline-block;
    width: 24%;
}

.drop1 {
    margin-left: 46%;
}

.drop2 {
    margin-left: 2%;
}

.dropdown-item {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.enterprises {
    margin-top: 12%;
    letter-spacing: 2px;
    color: black;
}
.ent {
    letter-spacing: 0px;
    color: #9C9C9C;
}