.MergeContainer{
    height: 100vh;
    background-color: rgb(20, 20, 20);
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.MergeContainer h1{
    color: rgb(195, 116, 238);
}

.container2{
    color: rgb(237, 241, 234);
}

#formFileMultiple{
    width: 60%;
}