*{
    margin: 0;
}
.navbar{
    background-color: black;
    height: 60px;
    color:white ;
    display: flex;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("./imgs/amazon_logo.png");
    height: 50px;
    width: 100px;

    background-size: cover;
}
border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    padding: 3px;

}
.ad1{
    font-size:10px;
    margin-top: 10px;
    margin-left: 10px;
}
.ad2{
    margin-left: 5px;
}
.i1{
    font-size: 20px;
}
.icon{
    display: flex;
    align-items: center;
}
.navsearch{
    justify-content: space-evenly;
    display: flex;
    height: 40px;
    width: 620px;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   margin-top: 10px;
   
}
.opt{
    border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
    ;

}
.pl{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.searchicon{
    width: 45px;
    background-color:#febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
}
.navsearch:hover{
    border: 5px solid #febd68;
}
.navsignin{
    margin-top: 10px;
}
.navreturn{
    margin-top: 10px;
}
.navcart{
    margin-top: 10px;
}
span{
    font-size: 0.7rem;

}
.nav2{
    font-size: 0.85rem;
    font-weight: 700;

}
.navcart i{
    font-size: 30px;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.panelop p{
    display: inline;
    margin-left: 10px;
}
.panelop{
    width: 70%;
    font-size: 0.85rem;
    
}
.panelop p:hover{
    border: 1px solid white;
    padding: 7px;
    border-radius: 1px;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero{
    background-image: url("./imgs/hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromsg{
    background-color: white;
    height: 40px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.shopsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    height: 400px;
    
    width: 23%;
    background-color: white;
    margin-top: 20px;
}
.box1img{
    background-image: url("./imgs/box1_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box1img{
    background-image: url("./imgs/box1_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box2img{
    background-image: url("./imgs/box2_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box3img{
    background-image: url("./imgs/box3_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box4img{
    background-image: url("./imgs/box4_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box5img{
    background-image: url("./imgs/box5_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box6img{
    background-image: url("./imgs/box6_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.box7img{
    background-image: url("./imgs/box7_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.box8img{
    background-image: url("./imgs/box8_image.jpg");
    height: 325px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.box p{
   
    margin-left: 10px;
    color: #551A8B;
   
}


h2{
    margin-top: 5px;
    margin-left: 10px;
}

.shopsec p{
    
    margin-top: 10px;
    
} 
.foot1{
    height: 35px;
    background-color: #222f3d;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot2{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;

}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #e2e7e6;
}
ul a:hover{
    text-decoration: underline;
}
ul p{
    color: #e2e7e6;
    font-weight: 700;
}
.foot3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo{
    background-image: url("./amazon_logo.png");
    background-size: cove;
    height: 50px;
    width: 100px;
    

}


.foot4{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}