@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #72f4a8;
}

.contentbox {
    text-align: center;
    width: 400px;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentbox h1 span {
    color: #207c46;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #207c46;
}

#calculate {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #207c46;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calculate:hover {
    background-color: #145c30;
}

.footer {
    margin-top: 20px;
}

#error-message {
    color: red;
}