<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>contact</title>
    <link rel = "stylesheet" href = "style.css">
    <!-- gogetfont monsterrat)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- swiper js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script>
        (function() {
            emailjs.init('_Gnz37eoCxXFxshza');
        })();
    </script>
    </head>
    <body>
        <nav>
            <div class="container nav_container">
                <a href="index2.html"><h3>Automatify</h3></a>
                <ul class="nav__menu">
                    <li><a href="index2.html">Home</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about.html">About</a></li>
                    
    
                </ul>
                <button id="open-menu-btn"><i class="uil uil-bars" alt="menu"></i></button>
                <button id="close-menu-btn"><i class="uil uil-multiply" alt="menu"></i></button>
            </div>
        </nav>
    <div class="container contact">
            <h1>Contact Us</h1>
            <p>Have a question or feedback? Fill out the form below to get in touch with us.</p>
            

                <form id="form" method="get">
                    <div class="field">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="field">
                        <label for="email">Your Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" rows="6" required></textarea>
                    </div>
                    <input type="submit" id="button" value="Send Email" >
                </form>
                
        </div>


        <footer>
            <div class="container footer__container">
                <div class="footer__1">
                    <a href="index2.html" class="footer_logo"><h4>Automatify</h4></a>
                    <p>Automatify is a platform that helps you to automate your business and make it more efficient.</p>
                </div>
                <div class="footer__2">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="index2.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="translation.html">Translation</a></li>
                        <li><a href="speech.html">Speech</a></li>
                        <li><a href="pdf.html">PDF Extraction</a></li>
                    </ul>
                </div>
                <div class="footer__3">
                    <h4>Privacy</h4>
                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer__4">
                    <h4>Contact Us</h4>
                    <div>
                        <p>+91 1234567890</p>
                        <p>nirajprmr1608@gmail.com</p>
                    </div>
                    <ul class="footer_socials">
                        <li><a href="#"><i class="uil uil-github-f"></i></a></li>
                        <li><a href="#"><i class="uil uil-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                        <li><a href="#"><i class="uil uil-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__copyright">
                <small>&copy; 2024 Automatify. All rights reserved.</small>
            </div>
        </footer>
        
        
       
        <script src="..\uploads\main.js"></script>
        
        
    </body>
    </html>
    