<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- automatify :Automate Identification and Recognition of Text from an Image, Text translation and Text to Speech in different Languages.-->
    <title>Automatify</title>
    <link rel="stylesheet" href="style.css">
    <script src="/uploads/main.js"></script>
    <!-- gogetfont monsterrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- swiper js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <nav>
        <div class="container nav_container">
            <a href="index2.html"><h3>Automatify</h3></a>
            <ul class="nav__menu">
                <li><a href="index2.html">Home</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about.html">About</a></li>
               

            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars" alt="menu"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply" alt="menu"></i></button>
        </div>
    </nav>
 
   
    <!-- HEADER -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Automatify</h1>
                <p>Automatify is a web application which is used automate task like Text extraction, Speech recognition and
                    transformation of text from one language to another language.</p>
            </div>
            <div class="header__right">
                <div class="header__right-image">
                    <img src="https://static.deepl.com/img/appDownload/macos_app_download.svg">
                </div>
            </div>
        </div>
    </header>
    <!-- END OF HEADER -->
   
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Categories</h1>
                <p>Automate Identification and Recognition of Text from a PDF, Text translation, and Text to Speech in different Languages.</p>
                <a href="about.html" class="btn">Learn More</a>
            </div>
            <div class="categories__right">
                <article class="category">
                    <span class="category__icon">
                        <i class="uil uil-file-info-alt"></i>
                    </span>
                    <h5><a href="pdf.html">Pdf to Text</a></h5>
                    <p>Convert PDF documents to text files with ease using our PDF to Text tool.</p>
                </article>
                
                <article class="category">
                    <span class="category__icon">
                        <i class="uil uil-megaphone"></i>
                    </span>
                    <h5><a href="speech.html">Text to Speech</a></h5>
                    <p>Transform written text into spoken words with our Text to Speech converter.</p>
                </article>
                <article class="category">
                    <span class="category__icon">
                        <i class="uil uil-english-to-chinese"></i>
                    </span>
                    <h5><a href="translation.html">Text Translation</a></h5>
                    <p>Easily translate text between different languages using our Text Translation tool.</p>
                </article>
            </div>
        </div>
    </section>
    <!-- END OF CATEGORIES -->

        <section class="container testimonials__container mySwiper">
            <h2>Testimonials</h2>
            <div class="swiper-wrapper">
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="photos/WhatsApp Image 2023-10-21 at 19.24.55_b8a55757.jpg" alt="avatar">
                    </div>
                    <div class="testimonial__info">
                        <h4>kitty</h4>
                        <h5>Student</h5>
                    </div>
                    <div class="test">
                        <p>Translation tool was a lifesaver for my language studies. </p>
                    </div>
                </article>
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="photos/WhatsApp Image 2023-10-21 at 19.23.24_024e72de.jpg" alt="avatar">
                    </div>
                    <div class="testimonial__info">
                        <h4>Bruce</h4>
                        <h5>Student</h5>
                    </div>
                    <div class="test">
                        <p>The PDF extraction tool was incredibly useful for my research. </p>
                    </div>
                </article>
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="photos/WhatsApp Image 2023-10-21 at 19.23.24_4513f603.jpg" alt="avatar">
                    </div>
                    <div class="testimonial__info">
                        <h4>Messi</h4>
                        <h5>Student</h5>
                    </div>
                    <div class="test">
                        <p>Text to Speech - a versatile tool that turns text into spoken words with ease.</p>
                    </div>
                </article>
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="photos/WhatsApp Image 2023-10-21 at 19.23.24_a84ef6aa.jpg" alt="avatar">
                    </div>
                    <div class="testimonial__info">
                        <h4>Lana</h4>
                        <h5>Student</h5>
                    </div>
                    <div class="test">
                        <p>Text to Speech: A handy tool for converting written content into audio effortlessly.</p>
                    </div>
                </article>
                <article class="testimonial swiper-slide">
                    <div class="avatar">
                        <img src="photos/WhatsApp Image 2023-10-21 at 19.23.25_de7357e7.jpg" alt="avatar">
                    </div>
                    <div class="testimonial__info">
                        <h4>kidd</h4>
                        <h5>Student</h5>
                    </div>
                    <div class="test">
                        <p>Text to Speech: A handy tool for converting written content into audio effortlessly.</p>
                    </div>
                </article>
            </div>
            <div class="swiper-pagination"></div>
        </section>

    <!-- FOOTER -->
    <footer>
        <div class="container footer__container">
            <div class="footer__1">
                <a href="index2.html" class="footer_logo"><h4>Automatify</h4></a>
                <p>Automatify is a platform that helps you to automate your business and make it more efficient.</p>
            </div>
            <div class="footer__2">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="index2.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="/views/contact.html">Contact</a></li>
                    <li><a href="translation.html">Translation</a></li>
                    <li><a href="speech.html">Speech</a></li>
                    <li><a href="pdf.html">PDF Extraction</a></li>
                </ul>
            </div>
            <div class="footer__3">
                <h4>Privacy</h4>
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91 1234567890</p>
                    <p>nirajprmr1608@gmail.com</p>
                </div>
                <ul class="footer_socials">
                    <li><a href="#"><i class="uil uil-github-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <small>&copy; 2024 Automatify. All rights reserved.</small>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body> 


</html>

