body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav button {
    background-color: #fff;
    color: #4caf50;
    border: 2px solid #4caf50;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav button:hover {
    background-color: #4caf50;
    color: #fff;
    border: #f4f4f9 2px solid;
}
main {
    padding: 20px;
}
.hidden {
    display: none;
}
#flashcardsContainer {
    display: flex;
    flex-wrap: wrap;
}
.flashcard {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(33% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}
.flashcard:hover {
    transform: scale(1.05);
}
.flashcard .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#quizContainer {
    margin-bottom: 20px;
}
#showAnswerBtn, #nextQuestionBtn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 10px;
}
form input, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
}
form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}