/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}

/* Container styling */
.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button styling */
.btn {
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus,
select:focus {
    outline: none;
}

/* Text box styling */
.text-box {
    width: 70%;
    background: #4b4949;
    position: absolute;
    color: #fff;
    top: 30%;
    left: 50%;
    padding: 1rem 2rem;
    transform: translate(-50%, -800px);
    transition: all 0.5s ease-in-out;
}

.text-box.show {
    transform: translate(-50%, 0%);
}

.text-box select,
.text-box textarea {
    width: 100%;
    margin: 15px 0;
    padding: 8px;
    border-radius: 4px;
}

/* Styling for dropdown menu */
.text-box select {
    background-color: chocolate;
    border: none;
    color: #fff;
    font-size: 14px;
    height: 35px;
}

/* Styling for textarea */
.text-box textarea {
    border: 1px solid #dadada;
    color: #2e2d2d;
    font-size: 14px;
    height: 150px;
    resize: none;
}

/* Styling for main content */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Styling for content boxes */
.box {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.3s ease-out;
    cursor: pointer;
}

.box.active {
    box-shadow: 0 4px 8px orangered;
}

.box img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.box .info {
    background-color: rgb(175, 64, 23);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }
}
