body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('beige bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    text-align: center;
  }

  canvas {
    border: 2px solid #000;
    background-color: #ffffff;
    width: 700px;
    height: 450;

  }

  #resetButton {
    border-radius: 8px;
    background-color: rgb(247, 199, 250);
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
  }