*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: rgba(82, 82, 82, 0.879); 
    color: #fff ;
}

.container{
    width:100%;
    height:100vh;
    padding: 20px;
    display: flex;
}
.left,.right{
    flex-basis: 50%;
    padding:10px;
}
textarea{
    width: 100%;
    height:29%;
    background:#1f1f1f;
    padding: 10px 20px;
    color:white;
    border: 0;
    outline: 0;
    font-size:18px;

 }
 iframe{
    width:100%;
    height:100%;
    background: white;
    border:0;
    outline:0;
 }

 label i{
    margin-left: 10px;
    margin-right: 10px;
 }

 label{
    display: flex;
    align-items: center;
    background: black;
    height: 30px;
 }