* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebee;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    
    backdrop-filter: blur(30px); /* Glassy effect */
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d81b60;
}

.timer {
    font-size: 48px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #d81b60;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    color: #d81b60;
    
}

button:hover {
    background-color: #d81b60;/* Dark pink on hover */
    color: white; /* White text on hover */
}

button:disabled {
    background-color: rgba(216, 27, 96, 0.2);
    color: #d81b60; /* Light pink feel for disabled button */
    cursor: not-allowed;
}