* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ecf0f3;
    outline: none;

}
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns:repeat(4,68px);
    box-shadow: inset 5px 5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,.16);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 230px;
    text-align: end;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: end;
    padding: 20px;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    border-radius: 50%;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,.16);
    margin: 8px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;

}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                5px 5px 12px rgba(0,0,0,.16);
}