* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    margin-bottom: 50px;
    font-size: 55px;
}

.game-container {
    text-align: center;
}

.flag-container img {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 0 8px rgba(0, 0, 0, 0.2);
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    display: none;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

.shake {
    animation: shake 0.5s;
}


