@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --delete-button-color: #f91717; /* Red */
    --done-button-color: #13c313; /* Green */
    --done-button-box-color: rgb(1, 255, 1);
    --edit-button-color: #FFD700; /* Dark Yellow */
}

body {
    background-image: url("To_Do_Background.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 223, 223);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: inline-flex;
    position: relative;
    top: 50px;
    width: auto;
    justify-content: space-between;
}

.task-form {
    height: 300px;
    width: 400px;
    flex: 1;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid #ccc;
    border-radius: 10px;
}

.task-list h2 {
    text-align: center;
}

#taskTitle {
    width: 98%;
    height: 40px;
    top: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 1rem;
}

#taskDescription {
    display: flex;
    position: relative;
    height: 100px;
    width: 98%;
    top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    resize: none;
    text-align: center;
    border-radius: 1rem;
    border: none;
}

.task-form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-form button {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 10px;
    height: 30px;
    top: 40px;
    padding: 12px 28px;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px var(--main-color);
    font-size: 14px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.task-form button:hover {
    transform: scale(0.9);
    box-shadow: 0 0 8px var(--main-color);
}

.taskcontainer {
    height: auto;
    width: 600px;
    border-radius: 10px;
}

.task-list {
    flex: 1;
    height: auto;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid #ccc;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.task {
    background-color: var(--second-bg-color);
    height: auto;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative; 
}

.task p {
    position: relative;
    bottom: 10px;
}

.task h3,
.task p {
    transform: translateY(-20px);
}

.task-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: absolute; 
    bottom: 20px; 
    right: 10px; 
}

.edit-button,
.delete-button,
.done-button {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: var(--edit-button-color);
}

.delete-button {
    background-color: var(--delete-button-color);
    color: #fff;
}

.done-button {
    background-color: var(--done-button-color);
    color: #fff;
}

footer {
    height: 40px;
    background-image: url('To_Do_Background.jpg.png');
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: black;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
}

/* ------------------------------------------------------------ */
@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: inherit;
    }

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .task-form{
        position: relative;
        right: -15px;
    }

    .task-list{
        position: relative;
        right: 5px;
    }

    .task-form,
    .task-list {
        width: 100%;
        padding: 20px;
        margin: 0 ;
    }

    #taskTitle,
    #taskDescription {
        width: 100%;
    }

    .task-form button {
        background-color: rgb(0, 128, 255);
        color: #ffffff;
        font-weight: 800;
        border-radius: 10px;
        width: 150px;
        margin: 10px auto;
        margin-bottom: 50px;
        
    }

    .taskcontainer {
        padding: 20px;
        max-width: 100%;
    }

    .task h3,
    .task p {
        transform: translateY(0);
    }

    .task-actions {
        transform: translateY(0);
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    footer{
        height: 40px;
        font-size: 13px;
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
}
