.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.justify-content-btw{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
 
/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0063cc; /* Shade of blue for hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a8bdb; /* Shade of blue for the scrollbar handle */
    border-radius: 10px; /* Round corners of the handle */
}

/* Track */
::-webkit-scrollbar-track {
    background: #77c9f8; /* Background of the scrollbar track */
    border-radius: 10px; /* Set border radius to 10 pixels */

}

/* Handle when it is being dragged */
::-webkit-scrollbar-thumb:active {
    background: #0582ca; /* Shade of blue for active/dragged scrollbar handle */
    border-radius: 10px; /* Set border radius to 10 pixels */

}