@import url('/assets/style/reset.css');
@import url('/assets/style/animations.css');
/* //animations */

.bounce {
  animation: bouncein 1s ease 0s 1 normal forwards;
}

.pulse {
  animation: pulse 1s ease-in-out 0s 1 normal forwards;
}

body {
  height: 100vh;
  width: 100wv;

  padding-bottom: 10vh;
  background-color: black;
}

#section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background: black;
}
#gamegrid {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 90vmin;
}
.tile {
  opacity: 1;
  transition: 0.5s;
}
.tile:hover {
  border: 1px solid white;
}

.leaves {
  background: url('/assets/images/blocks/leaves.png') center center/cover
    no-repeat;
}
.ruby {
  background: url('/assets/images/blocks/ruby.png') center center/cover
    no-repeat;
}
.coal {
  background: url('/assets/images/blocks/coal.png') center center/cover
    no-repeat;
}
.diamond {
  background: url('/assets/images/blocks/diamond.png') center center/cover
    no-repeat;
}
.stone {
  background: url('/assets/images/blocks/stone.png') center center/cover
    no-repeat;
}
.grass {
  background: url('/assets/images/blocks/grass.png') center center/cover
    no-repeat;
}
.tree {
  background: url('/assets/images/blocks/tree.png') center center/cover
    no-repeat;
}
.sky {
  background-color: skyblue;
}
.playercontrols {
  display: flex;
  align-items: center;
  height: 10vmin;
  width: 100vw;
}

.tools {
  display: flex;
  justify-self: end;
  justify-content: end;
  flex-grow: 0;
}
.buttons {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.inventory {
  display: flex;
  justify-self: start;
  justify-content: start;
}
@media only screen and (max-width: 600px) {
  #section {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    /* flex-flow: column-reverse; */
    align-items: center;
    height: fit-content;
    background: black;
  }

  #gamegrid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 90vmin;
  }

  .playercontrols {
    display: flex;
    flex-direction: column;
    height: 10vmin;
    width: 100vw;
  }
  .tools {
    display: flex;
    justify-content: end;
    flex-grow: 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .inventory {
    display: flex;
    justify-content: start;
  }
}
#shovel div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/shovel.png') center center/contain;
}
#hatchet div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/hatchet.png') center center/contain;
}
#pickaxe div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/pickaxe.png') center center/contain;
}

#leaves-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/leaves.png');
}
#grass-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/grass.png');
}
#tree-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/tree.png');
}
#stone-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/stone.png');
}
#coal-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/coal.png');
}
#ruby-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/ruby.png');
}
#diamond-inv div {
  width: 10vmin;
  height: 10vmin;
  background-color: white;
  background: url('/assets/images/blocks/diamond.png');
}
.control-shadow {
  transition: 1s;
  -webkit-box-shadow: inset 0px 0px 0px 2px black;
  -moz-box-shadow: inset 0px 0px 0px 2px black;
  box-shadow: inset 0px 0px 0px 2px black;
}
.control-shadow:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px yellow;
  -moz-box-shadow: inset 0px 0px 0px 2px yellow;
  box-shadow: inset 0px 0px 0px 2px yellow;
  cursor: grab;
}
.control-shadow:active {
  cursor: grabbing;
}
.control-active {
  -webkit-box-shadow: inset 0px 0px 0px 2px yellow;
  -moz-box-shadow: inset 0px 0px 0px 2px yellow;
  box-shadow: inset 0px 0px 0px 2px yellow;
}
.inv-txt {
  color: yellow;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
.btn {
  transition: 1s;
  display: flex;
  color: black;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  font-size: 2.5vmin;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn:hover {
  box-shadow: 2px 2px 0 rgba(233, 217, 0, 0.5),
    2px -2px 0 rgba(233, 217, 0, 0.5), -2px 2px 0 rgba(233, 217, 0, 0.5),
    -2px -2px 0 rgba(233, 217, 0, 0.5), 2px 0px 0 rgba(233, 217, 0, 0.5),
    0px 2px 0 rgba(233, 217, 0, 0.5), -2px 0px 0 rgba(233, 217, 0, 0.5),
    0px -2px 0 rgba(233, 217, 0, 0.5);
  text-shadow: 2px 2px 0 rgba(233, 217, 0, 0.5),
    2px -2px 0 rgba(233, 217, 0, 0.5), -2px 2px 0 rgba(233, 217, 0, 0.5),
    -2px -2px 0 rgba(233, 217, 0, 0.5), 2px 0px 0 rgba(233, 217, 0, 0.5),
    0px 2px 0 rgba(233, 217, 0, 0.5), -2px 0px 0 rgba(233, 217, 0, 0.5),
    0px -2px 0 rgba(233, 217, 0, 0.5);
}
.hidden {
  display: none;
}
