* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #246bf0;
}
.container {
    background-color: #211650;
    width: min(37.5em, 90%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.5em;
}
h1 {
    text-align: center;
    font-weight: 500;
    color: #e0e0e0;
}
button {
    font-size: 1em;
    background-color: #246bf0;
    display: block;
    margin: 2em auto;
    padding: 1em;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
}
#otpDisplay {
    font-size: 1em;
    background-color: #32303a;
    color: #e0e0e0;
    letter-spacing: 1em;
    text-align: center;
    padding: 1em 0;
}
