body {
    background-color: #272821;
  }
  .text {
    color: #706C5A;
    font-family: Inconsolata, Courier, monospace;
    font-size: 20px;
  }
  #output {
    float: left;
    padding-left: 20%;
  }
  #score {
    padding-left: 55%;
  }
  #instructions {
    float: left;
    position: absolute;
    left: 1.5%;
    bottom: 3%;
    font-size: small;
    line-height: 110%;
  }
  #signature {
    float: right;
    position: absolute;
    right: 1.5%;
    bottom: 3%;
    font-size: small;
    line-height: 110%;
  }
  a:link {
    color: inherit;
  }
