<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmoTrack | Authentication</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-style.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-container">
        <div class="col col-1">
            <div class="container" style="margin-top: 460px;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="animate-charcter">EduBot</p>
                    </div>
                </div>
            </div>
            <p class="headline">Education for next generation</p>
        </div>

        <div class="col col-2">
            <div class="btn-box">
                <button class="btn btn-1" id="login">Sign In</button>
                <button class="btn btn-2" id="register">Sign Up</button>
            </div>

            <div class="login-form">
                <form action="/auth/login" method="post" enctype="application/json">
                    <div class="form-title">
                        <span>Sign In</span>
                    </div>
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Username" name="username_or_email"
                                required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" class="input-field" placeholder="Password" name="password" required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#"> Forgot Password? </a>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span> Sign In</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                        <div class="social-login">
                            <i class="bx bxl-google"></i>
                            <i class="bx bxl-facebook"></i>
                            <i class="bx bxl-twitter"></i>
                            <i class="bx bxl-github"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="register-form">
                <form action="/auth/register" method="post">
                    <div class="form-title">
                        <span>Sign Up</span>
                    </div>
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Email" name="email" required>
                            <i class="bx bx-envelope icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" class="input-field" placeholder="Password" name="password" required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" class="input-field" placeholder="Password" name="confirm-password"
                                required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#"> Forgot Password? </a>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span> Sign Up</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                        <div class="social-login">
                            <i class="bx bxl-google"></i>
                            <i class="bx bxl-facebook"></i>
                            <i class="bx bxl-twitter"></i>
                            <i class="bx bxl-github"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/auth-main.js') }}"></script>

</body>

</html>