body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 24, 59);
}

.big-container {
    width: 460px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pokemon-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon{
    width:100px;
    height:100px;
}
.title {
    font-size: 4em;
    color: #f9f9f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #f9f9f9;
    width: 460px;
    height: auto;
    border-radius: 3%;
    padding-bottom: 20px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px 8px 0 0;
    gap: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #222;
}

.pokemonid {
    height: 40px;
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    padding: 14px 0;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    background-color: #7f21ab;
    color: #f5f6f7;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ae34e7;
    cursor: pointer;
}

.pokemon-image {
    background-color: rgb(237, 234, 234);
    width: 440px;
    height: 250px;
    margin: 10px;
}

.pokemon-image img {
    max-width: 100%;
    height: auto;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    min-height: 325px;
}

th, td {
    background-color: rgb(83, 24, 138);
    color: white;
    width: 50px;
    font-family: monospace;
    font-size: 1.7em;
    text-align: center;
    padding: 8px;
}

th:nth-child(even), td:nth-child(even) {
    border-left: 5px solid #f5f6f7;
}

@media (max-width: 768px) {
    .big-container, .container {
        width: 90%;
        height: auto;
    }

    .pokemon-image {
        width: 100%;
        height: auto;
    }
}