html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
    background-color: #f9f9f9;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: #22d843;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
    padding: 1em;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notes_select {
    background-color: #eeeeee;
    font-weight: bold;
    outline: none;
}

.notes__small-title,
.notes__small-updated {
    margin: 0;
    padding: 5px 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
    color: #555555;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1em;
    padding: 10px;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}