{% extends "layout.html" %}

{% block title %}
    Chai aur tweet
{% endblock %}

{% block container %}
    <h1 class="text-center mt-4">
        Welcome to this Django project
    </h1>

    <h2>
        {% if form.instance.pk %}
            Edit Tweet
        {% else %}
            Create Tweet
        {% endif %}
    </h2>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

    <a href="{% url 'tweet_list' %}">Back to tweet list</a>
{% endblock %}
