<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>EduConnect</title>
        <link rel="shortcut icon" href="../images/total_privacy.svg" />
        <link rel="apple-touch-icon" href="../images/total_privacy.svg" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>

        <!-- xss -->

        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/">
                                    <img src="../images/total_privacy.svg" alt="MiroTalk P2P" width="32" height="32" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-32 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            Pick name. <br />
                                            Share URL. <br />
                                            Start conference.
                                        </h1>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            Each room has its disposable URL. Just pick a room name and share your
                                            custom URL. It's that easy.
                                        </p>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section center-content-mobile reveal-from-bottom mb-32">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 class="m-0">
                                    Pick a room name.<br />
                                    How about this one?
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-0">
                                    <label class="form-label screen-reader" for="roomName">mirotalk</label>
                                    <div class="form-group-desktop">
                                        <input
                                            id="roomName"
                                            class="form-input"
                                            type="text"
                                            value="mirotalk"
                                            maxlength="32"
                                            style="border-radius: 6px"
                                        />
                                        <button
                                            id="genRoomButton"
                                            class="button button-primary br-6 mr-8 mb-8 fas fa-arrows-rotate"
                                            onclick="genRoom()"
                                        ></button>
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary br-6 pulse"
                                            onclick="joinRoom()"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function genRoom() {
                                                document.getElementById('roomName').value = getUUID4();
                                            }
                                            function getUUID4() {
                                                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
                                                    (
                                                        c ^
                                                        (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
                                                    ).toString(16),
                                                );
                                            }
                                            function joinRoom() {
                                                const roomName = filterXSS(document.getElementById('roomName').value);
                                                if (roomName) {
                                                    window.location.href = '/join/' + roomName;
                                                    window.localStorage.lastRoom = roomName;
                                                } else {
                                                    alert('Room name empty!\nPlease pick a room name.');
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div id="lastRoomContainer" class="last-room">
                                    <span>Your recent room:</span>
                                    <a id="lastRoom"></a>
                                </div>
                                <script>
                                    const lastRoomContainer = document.getElementById('lastRoomContainer');
                                    const lastRoom = document.getElementById('lastRoom');
                                    const lastRoomName = window.localStorage.lastRoom
                                        ? window.localStorage.lastRoom
                                        : '';
                                    if (lastRoomName) {
                                        lastRoomContainer.style.display = 'inline-flex';
                                        lastRoom.setAttribute('href', '/join/' + lastRoomName);
                                        lastRoom.innerText = lastRoomName;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script defer src="../js/common.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
