
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    font-family: 'Comic Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

/* NAVBAR STYLE */
nav{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navLogo{
    max-width: 100px;
}

.navLinks{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}


/* header section  */

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -1;
}

header{
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ccc;
}

header .content h1{
    color: #fff;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -1;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

/* SKILLS SECTION */
section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;;
}
.skills .blur{
    right: 50px;
}
.skills{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.hideBtn{
    display: none;
}
.skills .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transform: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .card:hover{
    background-color: #323232;
    border-color: #1d4ed8;
}

.skills .card span{
    display: inline-block;
    padding: 2px 9px;
    margin-right: 1rem;
    font-size: 1.75rem;
}

.skills .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

/* PROJECTS */
.projects{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.projects .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transform: all 0.3s ease;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.projects .card img{
    border-radius: 5px;
}

.projects .card .content {
    margin: 1.5rem 0;
}

.projects .card .content p{
    font-size: 0.8rem;
    color: #cccbcb;
}

.card span .btn{
    margin-top: 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.card span .live{
    color: #181818;
}
.card span .live:hover{
    color: white;
}
.card span .github{
    background-color: transparent;
    color: #1d4ed8;
    border: 1px solid #1d4ed8;
}
.card span .github:hover{
    color:#fff;
    background-color: #3551ae;
}

.projects .card:hover{
    background-color: #323232;
    border-color: #1d4ed8;
}

.projects .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

/* CONTACT ME */
.contactCont .blur{
    right: 200px;
    /* top: 50px; */
}
.contact{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.left{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}
.contact .left .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transform: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .left .card:hover{
    background-color: #323232;
    border-color: #1d4ed8;
}

.contact .left .card span{
    display: inline-block;
    margin: 1rem;
}

.contact .left .card h4{
    margin: 0.5rem, 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
.contact .left .card a h5{
    margin-top: 1rem;
    color: #1d4ed8;
    font-size: 0.85rem;
    font-weight: 400;
}

.right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding: 4rem 0 4rem 4rem;
    
}
.right input{
    border: 2px solid #1d4ed8;
    border-radius: 8px;
    width: 100%;
    height: 4rem;
    font-size: 1.25rem;
    padding-left: 2rem;
    background: transparent;
    color: #1e40af;
    margin-bottom: 1rem;
}
.right textarea{
    border: 2px solid #1d4ed8;
    border-radius: 8px;
    width: 100%;
    height: 10rem;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    background: transparent;
    color: #1e40af;
    resize: none;
    margin-bottom: 1rem;
}
.right button{
    width: 10rem;
}

/* FOOTER  */
footer .footerContainer{
    border-top: 2px solid #1d4ed8;
}
.footerContainer{
    display: flex;
    padding: 1rem 0 0 0;
}
.column .logo{
    display: flex;
    justify-content: center;
}
.column .logo img{
    width: 60%;
}
.socials{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.copyPara, .mailid{
    color: white;
}
.mailIcon{
    margin: 0 5px;
}
.mailid{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

/* RESPONSIVE DESIGNS */
@media (width<900px){
    .navLinks{
        display: none;
    }
    header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .skills{
        grid-template-columns: repeat(2,1fr);
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    .footerContainer{
        flex-direction: column;

    }
    .column .logo img{
        width: 100%;
    }
    .column{
        width: 100%;
    }
    .socialColumn{
        height: 300px;
    }
    .contact{
        grid-template-columns: repeat(1,1fr);
    }
    .right{
        padding: 4rem;
        align-items: center;
    }
}

@media (width<500px){
    .navLinks{
        display: none;
    }
    header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .skills{
        grid-template-columns: repeat(2,1fr);
    }
    .skills .card span{
        margin: 0;
    }
    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .footerContainer{
        flex-direction: column;
    }
    .column .logo img{
        width: 100%;
    }
    .column{
        width: 100%;
    }
    .socialColumn{
        height: 300px;
    }
    header .image::before{
        display: none;
    }
    .right{
        padding: 4rem 0;
        align-items: center;
    }
    .skills .card h4{
        font-size: 0.8rem;
        display: none;
    }
}
