html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/background.png);
    background-size: cover;
}

.logo{
    width: 150px;
    margin-top: 18px;
}

.header{
    height: 10%;
}

.book-details{
    margin: 3% 0;
}

.checked {
    color: orange;
}

.left-box{
    color: #f0f0f0;
}

.left-box p{
    color: rgb(245, 247, 222);
    margin-top: 30px;
}
.book-genre ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.book-genre li{
    display: inline;
    margin-right: 10px;   
}

.left-box a{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 15px;
    color: #f0f0f0 !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
}

.mainbook-img{
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
} 

.series h3{
    color: #f0f0f0;
}

.series img{
    width: 100%;
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
    transition: 1s;
}

.series img:hover{
    transform: translateY(-10px);
}