.header {
	height: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
}

.header__middle {
	display: flex;
	align-items: center;
}

.header__left {
	display: block;
	overflow: hidden;
	padding: 0 2rem;
}

.header__logo {
	height: 100%;
	width: 13rem;
}

.header__right {
	margin: auto 0;
	margin-right: 1rem;
}

.header__nav__btn {
	display: none;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 1rem;
	color: var(--secondary-color);
	border-radius: 1.5rem;
	text-transform: capitalize;
	transition: background 0.3s linear;
}

.header__nav__btn:hover {
	background: #0000001c;
}

.header__nav__btn.menu__btn {
	display: inline-block;
}

.header__middle .header__nav__btn {
	margin-right: 2rem;
}