html{
    font-family: 'Josefin Sans', sans-serif;

}
header{
    size: 2rem;
   
}
#navbar #media{
    justify-content: right;
    display:flex;
    height:0.1px;
    /* width: 1px; */
    background-color: rgb(215, 145, 99);
    
}
#navbar ul{
    display:flex;
    justify-content: center;
    /* background-color: rgb(215, 145, 99); */
    
}
#navbar ul li{
    font-size: 1rem;
    list-style: none;
    text-align: center;
}
#navbar ul li a{
    display:block;
    padding: 3px 20px;
    text-decoration: none;
    color:black;
    border-radius: 20px;
    
    
}
#navbar ul li a:hover{
    color:white;
    background-color:  rgb(250, 166, 58);}
    footer {
        background: #333;
        color: #F5D3A7;
        text-align: center;
        padding: 1.5rem 0;
        font-size: 1rem;
        font-family: 'Oxanium', sans-serif;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
        margin-top: auto;
    }
    
    footer .center {
        font-size: 1rem;
        padding-bottom: 10px;
    }
    