html{
    font-family:'Nova Round', cursive;

}
header{
    size: 2rem;
   
}
#navbar #media{
    justify-content: right;
    display:flex;
    height:0.1px;
    /* width: 1px; */
    background-color: rgb(215, 145, 99);
    
}
#navbar ul{
    display:flex;
    justify-content: center;
    /* background-color: rgb(215, 145, 99); */
    
}
#navbar ul li{
    font-size: 1rem;
    list-style: none;
    text-align: center;
}
#navbar ul li a{
    display:block;
    padding: 3px 20px;
    text-decoration: none;
    color:black;
    border-radius: 20px;
    
    
}
#navbar ul li a:hover{
    color:white;
    background-color:  rgb(250, 166, 58);}

#body{
    background: url(image/contact.jpg) no-repeat center center/cover;
    
    justify-content: center;
  align-content: center;
}
.grid{
    
       
        grid-template-columns: repeat(2, 2fr);
        width: 800px;
        height: 800px;
        margin-left: 19%;
        box-shadow: 2px beige;
       
      }
      #left {
        background-color: rgb(137, 203, 231);
        border: 4px solid black;
        border-radius: 2px;
        box-shadow: 2px beige;
      }
      footer{
        background: black;
        color: white;
        text-align: center;
        padding: 2px;
    }
    
     