
   
html{
    font-family:'Nova Round', cursive;
    

}
header{
    size: 2rem;
   
}
#navbar #media{
    justify-content: right;
    display:flex;
    height:0.1px;
    /* width: 1px; */
    background-color: rgb(215, 145, 99);
    
}
#navbar ul{
    display:flex;
    justify-content: center;
    /* background-color: rgb(215, 145, 99); */
    
}
#navbar ul li{
    font-size: 1rem;
    list-style: none;
    text-align: center;
}
#navbar ul li a{
    display:block;
    padding: 3px 20px;
    text-decoration: none;
    color:black;
    border-radius: 20px;
    
    
}
#navbar ul li a:hover{
    color:white;
    background-color:  rgb(250, 166, 58);}

   
   
    #page1{
        min-height: 100vh;
        position: relative;
        width: 100%;
        padding: 2vh;
        padding-left: 3vw;
       
        
    }
    #page1 h1{
        font-size: 3vw;
        font-family: futura;
        line-height: 3vw;
        letter-spacing: 1px;
    }
    video{
        height: 55%;
        width: 50%;
        margin-top: 1vh;
        object-fit: cover;
    }
    
    .container{
            position: absolute;
            top: 33%;
            transform: translateY(10%);
            transform: translateX(-20%);
            right: 0;
            padding: 20px;
            background-color:rgb(245, 211, 167);;
            max-width: 500px; /* Adjust this value based on your design */
            max-height: 500px; /* Adjust this value based on your design */
            margin-top: 1vh;

        }
        section{
            margin-top: 1px;
            background-color: rgb(248, 148, 121);;
            color:rgb(14, 13, 13)

        }
        footer{
            background: black;
            color: white;
            text-align: center;
            padding: 2px;
        }
        
