@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 300px;
    height: 300px;
    background: #185AD8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
}

.counter {
    font-size: 6rem;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
    position: absolute;
}

.incr {
    right: -10%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
}

.decr {
    left: -10%;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .2);
}

button:hover{
    cursor: pointer;
}

button:active {
    background-color: #b2fbff;
}

button:active .fa-plus, button:active .fa-minus{
    font-size: 1.3rem;
    transition: all 0.2s ease;
}