body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  list-style: none;
  box-sizing: border-box;
  background: #000;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img {
  width: 40%;
  filter: brightness(0.5);
}

.text h1 {
  font-family: "AlphaCentauri" !important;
  font-size: 5vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 35vh;
  left: 34vw;
}

.earth img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
}

.mid {
  left: -150px !important;
  bottom: -100px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

/* SWIPER */

#sectiontwo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.rockbg1 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.2);
  top: 20vh;
  left: 0;
  z-index: 1;
}

.planet-links {
  width: 95%;
  height: 5vh;
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.planet-links .swiper-pagination-bullet {
  opacity: 0.2;
  outline: none;
}
.planet-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
  left: 0px;
  right: 0px;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  height: 400px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("images/mercury.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("images/venus.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("images/earth1.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("images/mars.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("images/jupiter.png");
}
.swiper-slide:nth-child(6) .slide-img {
  background-image: url("images/saturn.png");
}
.swiper-slide:nth-child(7) .slide-img {
  background-image: url("images/uranus.png");
}
.swiper-slide:nth-child(8) .slide-img {
  background-image: url("images/neptune.png");
}

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 200px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: "AlphaCentauri" !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 240px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
  position: absolute;
  top: -150px;
  left: 22%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 100px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}
