@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,700&display=swap') ;

body {
font-family: poppins;
}

.memegen{
width: 500px;
display: flex;
flex-direction: column;
margin: auto;
}

.memegen img{
height: 430px;
object-fit:fill ;
}
.memegen .generate{
font-family: poppins;
padding: 8px 20px;
margin-top: 25px;
border: none;
font-size: 20px;
background: rgb(36, 35, 35);
color: aliceblue;
cursor: pointer;
transition: all 400ms ease ;
}

.generate:hover{
padding: 8px 36px;
letter-spacing: 3px;
}

.author{
margin: 8px;
}


