@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#8A6CFF;
}
    
.wrapper {
    width: 450px;
    padding: 25px;
    border-radius: 7px;
    background:#fff;
}
    
.wrapper .gradient-box {
    width: 100%;
    height: 220px;
    border-radius: 7px;
    background: linear-gradient(to left top, #977DFE, #6878FF);
}

.wrapper .row {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.row :where(.column, button) {
  width: calc(100% / 2 - 12px);
}

.options p {
    font-size: 1.12rem;
    margin-bottom: 8px;
}

.options .select-box {
  border: 1px solid #aaa;
  padding: 10px 15px;
  border-radius: 5px;
}

.select-box select {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1.12rem;
}

.options .colors {
  margin-left: 60px;
}

.colors input  {
  height: 41px;
  width: calc(100% / 2 - 20px);
}

.colors input:last-child {
  margin-left: 6px;
}

.wrapper textarea {
  width: 100%;
  color: #333;
  resize: none;
  font-size: 1.05rem;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.buttons button {
  cursor: pointer;
  padding: 15px, 0;
  font-size: 1.09rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 0 -15px;
}

.buttons .refresh {
  background: #6c757d;
}

.buttons .copy {
  background: #8A6CFF;
}
  