<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>About - PixCraft</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PixCraft</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <h1>About</h1>
      <p>
        PixCraft is a user-friendly image processing application designed for
        both beginners and experienced users. With an intuitive interface and
        powerful features, PixCraft allows you to easily upload, edit, and
        enhance your images.Whether you want to convert image formats, apply
        filters, or create stunning grayscale effects, PixCraft has you covered!
      </p>
      <h3>Key features.</h3>
      <dl class="row">
        <ul>
          <li>
            <dt class="col-sm-3">Image Uploading</dt>
            <dd class="col-sm-9">
              Quickly upload images in various formats including PNG, JPG, JPEG,
              and GIF.
            </dd>
          </li>
          <li>
            <dt class="col-sm-3">Multiple Processing Options</dt>
            <dd class="col-sm-9">
              Choose from a variety of operations such as converting to
              grayscale, changing formats (WEBP, JPG, PNG), and more to meet
              your editing needs.
            </dd>
          </li>
          <li>
            <dt class="col-sm-3">Downloadable Results</dt>
            <dd class="col-sm-9">
              After processing, easily download your enhanced images with just a
              click.
            </dd>
          </li>
          <li>
            <dt class="col-sm-3">Responsive Design</dt>
            <dd class="col-sm-9">
              Access PixCraft from any device, ensuring a seamless experience
              whether you’re on a desktop or mobile.
            </dd>
          </li>
          <li>
            <dt class="col-sm-3">Help & Support</dt>
            <dd class="col-sm-9">
              Find user guides and support documentation to assist you in
              maximizing your experience with the application.
            </dd>
          </li>
          <br /><br />


    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
