*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image:url("photo.jpg");
    height:100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight:700;
    position:absolute;
    left:16px;
    cursor: pointer;
    transition: all 0.3s linear;
    
}

.sidebar_menu .btn_two i {
    color:grey;
    font-size: 25px;
    line-height: 60px;
    position:absolute;
    left:295px;
    opacity:0;
    cursor:pointer;
    transition: all 0.3s linear;
    
   
}

.sidebar_menu{
    position:fixed;
    left:-330px;
    height:100vh;
    width:320px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height:60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    height:60px;
}

.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .menu{
    color:white;
    position: absolute;
    width:100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin-top:6px;
    padding:10px 20px;
}

.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    color:white;
    opacity: 0.8;
    position:absolute;
    left:25%;
    bottom:50px;

}

.sidebar_menu .social_media  i{
    color:white;
    opacity: 0.5;
    padding:0 5px;
    text-align: center;
}

#check{
    display:none;
}

.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgba(255,255,255,0.5);
     transform: scale(1.02); /* Slightly increase the size to create a pop-up effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.btn_one:hover i{
    font-size: 40px;
}

.btn_two:hover i{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform:scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity:1;
}

/* hover effect on social icons */
.sidebar_menu .social_media .fa-facebook:hover{
    color:#4267B2;
    opacity: 1;
    transform:scale(1.5);
}

.sidebar_menu .social_media .fa-twitter:hover{
    color:#1DA1F2;
    opacity: 1;
    transform:scale(1.5);
}


.sidebar_menu .social_media .fa-instagram:hover{
    color:#C13584;
    opacity: 1;
    transform:scale(1.5);
}


.sidebar_menu .social_media .fa-youtube:hover{
    color:#FF0000;
    opacity: 1;
    transform:scale(1.5);
}