
body{
  padding: 0;
  margin: 0;
  font-family: 'Helvetica';
  font-weight: 400;
  color:rgba (0,0,0,.87);
  
}

*{
  box-sizing:border-box;
}

a{
  color:black;
}

header{
  height:101px;
  position: relative;
  max-width:1440px;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0 0 0/10%);
}

.header-container{
  max-width:1440px;
  margin:0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 51px;
  width:51px;
  padding-left:10px;

}

.logo img{
  height: 100%;
}

.left-nav{
  display: flex;
  height: 100%;
  align-items: center;
}

.left-nav nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
}

.left-nav nav ul li{
  padding-left:16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
}


.left-nav nav ul li:hover{
  color:#008248;
}

.right-nav{
  display: flex;
  align-items: center;
}


.find-store{
  display: flex;
  margin-right: 40px;
  align-items:center;
  font-weight: 600;
}

.find-store i{
  padding-right:8px;
  font-size:24px;
  cursor:pointer;
}

.find-store:hover{
  color:#008248;
}

.join-now , .sign-in{
  padding:7px 16px;
  border:1px solid;
  border-radius: 50px;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;
}

.sign-in{
  margin-right:16px;
}

.sign-in:hover{
  background-color: rgba(0,0,0,.06);
  transition: all .2 ease;
}


.join-now{
  background-color:black;
  color:white;
}

.join-now:hover{
  background-color:rgba(0,0,0,.7);
  border-color: rgba(0,0,0,.7);
  transition:all .2 ease;
}


  
